.backgroundcarousel {
    background-color: #f3f5fa;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Cache les images qui dépassent */
}

.carousel {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 20%;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-logo {
    max-width: 70%;
    height: auto;
    max-height: 150px; /* Taille des logos */
}
